<!DOCTYPE html>
<html lang="en">
  <!-- <%- include('./partials/head.ejs') %> -->
  <body>
    <%- include('./partials/nav.ejs') %>
    <section>
      <div class="details">
        <h2><%= blog.title %></h2>
        <h3><%= blog.snippet %></h3>
        <p><%= blog.body %></p>
        <button data-id="<%= blog._id %>">Delete</button>
      </div>
    </section>
    <script>
      const button = document.querySelector("button");
      function removeBlog() {
        const id = this.dataset.id;
        const endpoint = `/blogs/${id}/`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => {
            console.log(err);
          });
      }
      button.addEventListener("click", removeBlog);
    </script>
  </body>
</html>
